.tm__button {
  display: inline-block;
  width: 100%;
  height: 44px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: blue;
  border-radius: 6px;
  border: 1px blue solid;
  border-color: blue solid;
  background: none;
  cursor: pointer;
  margin: 10px 0 0 0;
  transition: 0.3s ease-in;
}

.tm__button:hover {
  background: blue;
  color: white;
}

/* .tm__button.success {
  color: rgba(17, 209, 17, 0.795);
  border: 1px rgba(17, 209, 17, 0.795) solid;
}

.tm__button.success:hover {
  background-color: rgba(17, 209, 17, 0.795);
  color: white;
} */

.tm__button.dark {
  color: rgba(53, 54, 53, 0.795);
  border: 1px rgba(53, 54, 53, 0.795) solid;
}

.tm__button.dark:hover {
  background-color: rgba(53, 54, 53, 0.795);
  color: white;
}

.tm__button.sm {
  max-width: 200px;
}